.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #0ae039;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}
    h1 {
        color: #333;
        text-align: center;
    }
    
    p {
        color: #666;
        line-height: 1.6;
    }
    
    a {
        color: #007bff;
        text-decoration: none;
    }